dist: trusty
# Use sudo environment just because it currently has more memory, and there is less chance
# of the expensive AddressSanitizer build running out.
sudo: required
language: cpp

branches:
  only:
  - master
  - develop

cache:
  # There is little benefit from ccache for testing a header-only library
  ccache: false

_common_packages: &common_packages
  - libboost1.54-dev
  - libeigen3-dev
  - libgtest-dev
  - clang-format-6.0

jobs:
  include:
    - name: "GCC 5"
      env: WAVE_CXX=g++-5 WAVE_CC=gcc-5
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'ppa:lkoppel/robotics'
          packages:
            - *common_packages
            - g++-5
    - name: "Clang 4"
      env: WAVE_CXX=clang++-4.0 WAVE_CC=clang-4.0
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
            - sourceline: 'ppa:lkoppel/robotics'
          packages:
            - *common_packages
            - g++-5
            - clang-4.0
    - name: "GCC 7 AddressSanitizer"
      env: WAVE_CXX=g++-7 WAVE_CC=gcc-7 \
        ASAN_OPTIONS=detect_leaks=0:strict_string_checks=1:detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1 \
        WAVE_CXX_FLAGS="-fsanitize=address -fsanitize-address-use-after-scope -O1 -DNDEBUG -fno-omit-frame-pointer -ftrack-macro-expansion=0 -fuse-ld=gold -Wno-misleading-indentation" \
        WAVE_BUILD_TYPE=None
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - sourceline: 'ppa:lkoppel/robotics'
          packages:
            - *common_packages
            - g++-7
            - binutils
    - stage: deploy
      name: "Docs"
      language: python
      python: "3.6"
      env: DOCS_BUILD_DIR=build_docs
      install:
        - pip install sphinx==1.7.9 sphinx_rtd_theme recommonmark sphinx-markdown-tables git+git://github.com/leokoppel/sphinxcontrib-versioning
      script:
        - ./scripts/ci/ci_make_docs.bash
      deploy:
        provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN  # Set in the settings page of your repository, as a secure variable
        local-dir: $DOCS_BUILD_DIR
        on:
          all_branches: true  # branches limited by the below condition
          condition: $TRAVIS_BRANCH =~ ^master|develop$

before_script:
  - export CXX=$WAVE_CXX CC=$WAVE_CC  # override travis with what we set in matrix

script:
- ./scripts/ci/ci_check.bash
- ./scripts/ci/ci_run.bash

notifications:
  email: false
